<ion-view title="Log" id="page5">
  <ion-content padding="true" class="has-header">
    <h1 id="regarAhora-heading4" style="color:#000000;text-align:center;">Last 24 hours</h1>
    <div id="regarAhora-container2" class="creator-container"></div>
		<div style="width:100%;margin-left: auto; margin-right: auto;">
			<canvas id="line" class="chart chart-line" chart-data="data"
				chart-labels="labels" chart-series="series" chart-options="options" chart-colors="colors"
				chart-dataset-override="datasetOverride" chart-click="onClick">
			</canvas>
	  </div>
    <a href="#/page" class="button button-positive button-block">Return</a>
  </ion-content>
</ion-view>
