<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <h1 id="page-heading1" style="color:#000000;text-align:center;">Sprinkler</h1>
    <div>
      <img src="img/XDT70dglSFKhzPLqIpj4_plant.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="riego()" id="page-button10" class="button button-positive button-block">Configure watering parameters</a>
    <a ui-sref="regarAhora()" id="page-button11" class="button button-positive button-block">Water now</a>
    <div id="page-button-bar2" class="button-bar"></div>
    <div id="page-button-bar4" class="button-bar">
      <a ui-sref="lOG()" id="page-button26" class="button button-positive button-block">LOG Last 24 hours</a>
    </div>
  </ion-content>
</ion-view>
