<ion-view title="Water now" id="page5">
  <ion-content padding="true" class="has-header">
    <h1 id="regarAhora-heading4" style="color:#000000;text-align:center;">Humidity: {{ humidity }}%</h1>
    <h1 id="regarAhora-heading4" style="color:#000000;text-align:center;">Temperature: {{ temp }} ºC</h1>
    <div id="regarAhora-container2" class="creator-container"></div>
    <button id="regarAhora-button31" class="button button-positive button-block" ng-click="update()">Update</button>
    <a href="#/page" class="button button-positive button-block">Cancel</a>
  </ion-content>
</ion-view>
