<ion-view title="Humidity settings" id="page4">
  <ion-content padding="true" class="has-header">
    <form ng-submit="submit()">
      <h3 id="riegoHum-heading2" style="color:#000000;">Less than: {{ data.inferior }}%</h3>
      <ion-item class="range range-positive" id="riegoHum-range6">
        <input type="range" value="50" min="0" max="90" step="1" name="limInferior" ng-model="data.inferior">
      </ion-item>
      <h3 id="riegoHum-heading3" style="color:#000000;">Grather than: {{ data.superior }}%</h3>
      <ion-item class="range range-positive" id="riegoHum-range5">
        <input type="range" value="45" min="0" max="90" step="1" name="limSuperior" ng-model="data.superior">
      </ion-item>
      <input class="button button-block button-positive" type="submit" name="submit" value="Send">
    </form>
  </ion-content>
</ion-view>
