<ion-view title="Riego/hum" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="riegoHum-form3" class="list">
      <h3 id="riegoHum-heading2" style="color:#000000;">Menor a:</h3>
      <ion-item class="range range-positive" id="riegoHum-range6">Range
        <input type="range" value="50" min="0" max="90" step="1" name="limInferior">
      </ion-item>
      <h3 id="riegoHum-heading3" style="color:#000000;">Mayor a:</h3>
      <ion-item class="range range-positive" id="riegoHum-range5">Range
        <input type="range" value="45" min="0" max="90" step="1" name="limSuperior">
      </ion-item>
    </form>
    <a ui-sref="page()" id="riegoHum-button33" class="button button-positive button-block">Guardar</a>
  </ion-content>
</ion-view>